.bg1, .bg2, .bg3, .bg4 {
	width:100%;
	min-width:100%;
	min-height:100%;
	height:100%;
	width:100%;
	background-size:cover;
	z-index:-1;
	background-attachment: fixed;

}
.bg1 {
    background-image: url(https://noahmcge.github.io/img/paper/96462.jpg);
}
.bg2 {
    background-image: url(https://noahmcge.github.io/img/paper/Winter-Nature-Snow-Mountain-Wallpaper.jpg);
}
.bg3 {
    background-image: url(https://noahmcge.github.io/img/paper/22122.jpg);
}
.bg4 {
    background-image: url(https://noahmcge.github.io/img/paper/22123.jpg);
}
